
{% extends 'base_details.html' %}
{% block content %}

    <!--    tution fee-->
<br><br><br><br><br><br>
<br><br><br><br><br><br>
    
    <div class="dues-system829">
        <div class="container">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe"> </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">ID</label>
                    <input type="number" class="form-control" id="exampleInputEmail2" placeholder="123"> </div>
                <button type="submit" class="btn btn-default">FIND</button>
            </form>
        </div>
    </div>
    <section class="dues-fee--six1819">
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Serial
                            <br>No</th>
                        <th>Name</th>
                        <th>Roll Num</th>
                        <th>Contact Num</th>
                        <th>Dues</th>
                        <th>Rec.Balance</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Radwan Ahmed</td>
                        <td>1</td>
                        <td>radwan1@mail.com</td>
                        <td>0</td>
                        <td>1500</td>
                        <td class="icon-tution3782"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mokbul</td>
                        <td>2</td>
                        <td>Mokbul@mail.com</td>
                        <td>200</td>
                        <td>1300</td>
                        <td class="icon-tution3782"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sharif</td>
                        <td>3</td>
                        <td>Sharif@mail.com</td>
                        <td>0</td>
                        <td>1500</td>
                        <td class="icon-tution3782"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
      
 {% endblock %}
   