{% extends 'base_details.html' %}
{% block content %}

<br><br><br><br><br><br>
<br><br><br><br><br><br>

    <section class="principal-qutoes">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-right">
                        <h3>Principal’s  Message</h3> <img src="image/Untitled-2.jpg" alt="">
                       <p>"Welcome"</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-right">
                        <h3>Principal’s  Message</h3> <img src="image/Untitled-2.jpg" alt="">
                        <p>"Hai"</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-right">
                        <h3>Principal’s  Message</h3> <img src="image/Untitled-2.jpg" alt="">
                        <p>"Hello"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   {% endblock %}