{% extends 'base_details' %} 
{% block content %}
   <!--    tution fee-->
<br><br><br><br><br><br>
<br><br><br><br><br><br>
   
    <section class="tution-fee">
        <div class="container">
            <h1>DASHBOARD</h1>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="student-info3710 text-center"> <a href="/tution-fee-six/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        <a href="/tution-fee-six/">
                            <p>Student</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="student-info3710 text-center"> <a href="/fees_system/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        <a href="/fees_system/"> <p>Fees</p></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="student-info3710 text-center"> <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        <p>Report</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}