{% extends 'base_details.html' %}
{% block content %}


<br><br><br><br><br><br>
<br><br><br><br><br><br>

    <section class="info-school">
        <div class="container">
            <div class="half">
                <p>লক্ষ্য ও <strong>উদ্দেশ্য</strong></p>
                <div class="tab">
                    <input id="tab-one" type="checkbox" name="tabs">
                    <label for="tab-one">Label One</label>
                    <div class="tab-content">
                        <p>Citrus College is driven to provide excellent educational opportunities that are responsive to the needs of our students, and empower them to meet and exceed challenges as active participants in shaping the future of our world.</p>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-two" type="checkbox" name="tabs">
                    <label for="tab-two">Label Two</label>
                    <div class="tab-content">
                        <p>Citrus College provides students with quality educational experiences and support services that lead to the successful completion of degrees, transfer, certificates, career/technical education and basic skills proficiency. The college fosters academic and career success through the development of critical thinking, effective communication, creativity, and cultural awareness in a safe, accessible and affordable learning environment. In meeting the needs of our demographically diverse student population, we embrace equity and accountability through measurable learning outcomes, ethical data-driven decisions and student achievement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   {% endblock %}
   